{% extends 'base.html' %}
{% load static %}
{% block page_title %}Edit Test{% endblock %}
{% block page_content %}


<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{testRecord.id}}">
    <input type="number" name="age" value="{{testRecord.age}}">
    <input type="text" name="name" value="{{testRecord.name}}">
    <input type="submit" value="Submit">
</form>

{% if has_errors %}
    <ul>
    {% for error in errors %}
        <li style="color:red" >{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}

