{% extends 'base.html' %}
{% load static %}
{% block page_title %}Test{% endblock %}
{% block page_content %}

<table>
    {% for test in testmodels %}
    <tr>
        <td>{{test.name}}</td>
        <td>{{test.age}}</td>
        <td>{{test.dateCreated}}</td>
        <td><a href="{% url 'editTest' id=test.id %}">Edit</a></td>
        <td><a href="{% url 'deleteTest' id=test.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

