{% extends 'base.html' %}
{% load static %}
{% block page_title %}TechStore{% endblock %}
{% block page_content %}
<ul>
    <li>Lasha</li>
    <li>Mirian</li>
</ul>
<a href="{% url 'hello' ID=4 %}">Hello</a>
<input type="text" id="inp">
<input type="button" id="btn" value="Go">

<div id="container">
    {{username}}
    {{password}}
    {% if password %}
    *******
    {% endif %}
</div>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% endblock %}

